@use "./normalize.css";

html,
body,
#app {
  height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  &:active,
  &:hover {
    text-decoration: none;
    outline: 0;
  }
}

.view-container {
  display: flex;
  flex-direction: column;
  // padding: 20px;
  height: 100%;
  gap: 20px;
  .view-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .view-main {
    flex: 1;
    overflow: auto;
  }
  .view-footer {
    display: flex;
    justify-content: center;
  }
}

.ellipsis-two-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

